<div class="d-flex flex-column pa-6">
    <MudText Typo="Typo.h4"><b>Days</b></MudText>
    <MudContainer Class="px-0 py-2 d-flex justify-space-between align-center">
        <MudText Typo="Typo.h5"><b>November 17, friday</b></MudText>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" aria-label="delete" Size="Size.Small"/>
    </MudContainer>
    <MudContainer Class="px-0 d-inline-flex gap-3">
        <MudCard Style="width: 300px">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"><b>Eiffel tower</b></MudText>
                    <MudText Typo="Typo.body2">I love Eiffel tower</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="Images/France.jpg" Height="150"/>
        </MudCard>
    </MudContainer>
</div>