<div class="d-flex flex-column pa-6">
    <MudText Typo="Typo.h4"><b>Accommodation</b></MudText>
    <MudContainer Class="px-0 py-2 d-flex justify-space-between align-center">
        <MudText Typo="Typo.h5"><b>France, Paris</b></MudText>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" aria-label="delete" Size="Size.Small"/>
    </MudContainer>
    <MudContainer Class="px-0 pt-2 d-inline-flex gap-2 ml-0" Style="width: auto">
        <MudContainer class="pl-0 pr-1">
            <MudImage Src="Images/America.jpg" Alt="America" Class="rounded-lg" Style="height: 130px"/>
            <MudText Typo="Typo.h6">White house</MudText>
        </MudContainer>
        <MudContainer class="pl-0 pr-1">
            <MudImage Src="Images/America.jpg" Alt="America" Class="rounded-lg" Style="height: 130px"/>
            <MudText Typo="Typo.h6">White house</MudText>
        </MudContainer>
    </MudContainer>
</div>