@page "/"
@inherits LayoutComponentBase
@layout IndexLayout

<MudMainContent>
    <div class="full-page-background">
        <MudImage Src="Images/Travel.jpg" Alt="Travel" Class="full-page-image" />
    </div>
    <MudText Typo="Typo.h2" Style="position: absolute; color: white"><b>Welcome to Traveling Trips!</b></MudText>
</MudMainContent>